main {
	width: 100%;
}

img {
	max-width: 600px;
	border-radius: 5px;
}

ul {
	list-style: none;
}

li {
	background-color: lightgrey;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
	width: 100px;
}

li:hover {
	background-color: grey;
}

body {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

div {
	margin: 5px;
}

.container {
	display: flex;
}

span {
	margin: 50px;
}

#admin-box {
	margin: auto;
	padding-left: 32%;
}

.hideAdmin {
	visibility: hidden;
}
.showAdmin {
	visibility: visible;
}

@media screen and (min-width: 1000px) {
	body {
		width: 1000px;
		margin: auto;
	}
}